// Import variables
@import "./variables/Colors";
@import "./variables/Typography";
@import "./variables/Spacing";
@import "./variables/Grid";
@import "./variables/Paths";

.card-header {
    position: relative;
    
    .accordion__button {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
    }

    h4 {
        pointer-events: none;
    }
}