// Import variables
@import "./variables/Colors";
@import "./variables/Typography";
@import "./variables/Spacing";
@import "./variables/Grid";
@import "./variables/Paths";

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }
    grid-gap: 10px;
    
    .card-img-top {
        padding: 20px;
    }

    .card-body {
        display: flex;
        flex-flow: column;

        .card-text {
            flex: 1;
        }

        .btn {
            width: fit-content;
        }
    }

}