@mixin homepage-bg {
    background-size: cover;
    background-color: #0F1616;
    background-blend-mode: color-dodge;
}

#homepage {
    background: url(/images/neon-sky-bgx1.jpg) no-repeat center top;
    @include homepage-bg;

    @include media-breakpoint-up(sm) {
      background: url(/images/neon-sky-bg.jpg) no-repeat center top;
      @include homepage-bg;
    }

    .homepage-section__content {
      @include media-breakpoint-up(md) {
        width: 50%;
      }

      h1 {
        color: $primaryWhite;
        font-family: $headings-font-family;
        font-size: 4.4rem;
        @include media-breakpoint-up(md) {
          font-size: 6rem;
        }
        width: 300px;

        .text--primary {
          position: relative;
          -webkit-text-fill-color: $primary !important; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: $primaryWhite;
        }

        @supports (-webkit-text-stroke: 2px $primaryWhite) {
            .text--primary {
              -webkit-text-stroke: 2px $primaryWhite;
              -webkit-text-fill-color: $primary;
            }
        }
      }

      .subheading {
        color: $primaryWhite;
      }

      .social-icons {
        text-align: left;
        justify-content: left;
      }
    }

    sup {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 1.3rem;
      width: 1.3rem;
      @include media-breakpoint-up(md) {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1rem;
      }
      background-color: $white;
      color: $primary;
      border-radius: 100%;
      font-size: 0.9rem;
      margin-right: 0.5rem;
      right: -15px;
      top: 0.3rem;
  
      &:hover {
          background-color: $primary;
          color: $white;
      }
  }
    
}
