// Import variables
@import "./variables/Colors";
@import "./variables/Typography";
@import "./variables/Spacing";
@import "./variables/Grid";
@import "./variables/Paths";

// Styling for the rounded social media links

.social-icons {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $white;
        color: $primary;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}

.title__icon {
    position: absolute;
    cursor: pointer;
}

.job__icon {
    top: -10px;
    font-size: 0.7rem;
    right: -5px;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.toggle__icon {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.toggle__icon--plus {
    position: absolute;
    right: 20px;
    z-index: 1;
}
