// Import variables
@import "./variables/Colors";
@import "./variables/Typography";
@import "./variables/Spacing";
@import "./variables/Grid";
@import "./variables/Paths";

#sideNav {
    .navbar-brand {

        .img-profile {
            background-color: #0F1616;
            mix-blend-mode: luminosity;

            &:hover {
                background-color: #0F1616;
                mix-blend-mode: luminosity;
            }
        }
    }
}